/* 
TABLE OF CONTENTS
1.Variables 
2. General styling
3. Structure 
4. theme
5. Media Query
*/

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500&family=League+Spartan:wght@200;400;500;600;900&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "League Spartan", sans-serif;
}
:root {
  /* Theme One */
  /* Backgorunds */
  --T1-main-background: hsl(222, 26%, 31%);
  --T1-toggle-background-keypad-background: hsl(223, 31%, 20%);
  --T1-screen-background: hsl(224, 36%, 15%);
  /* Keys */
  --T1-key-background: hsl(225, 21%, 49%);
  --T1-key-shadow: hsl(224, 28%, 35%);

  --T1-Red-key-background-toggle: hsl(6, 63%, 50%);
  --Dark-red-key-shadow: hsl(6, 70%, 34%);

  --T1-key-background: hsl(30, 25%, 89%);
  --T1-key-shadow: hsl(28, 16%, 65%);
  /* Text */
  --T1-Very-dark-grayish-blue: hsl(221, 14%, 31%);
  --T1-White: hsl(0, 0, 100%);
  /* Theme two */

  /* #### Backgrounds */

  --T2-mai-background: hsl(0, 0%, 90%);
  --T2-toggle-background-keypad-background: hsl(0, 5%, 81%);
  --T2-screen-background: hsl(0, 0%, 93%);

  /*  Keys */

  --T2-key-background: hsl(185, 42%, 37%);
  --T2-key-shadow: hsl(185, 58%, 25%);

  --T2-key-background-toggle: hsl(25, 98%, 40%);
  --T2-key-shadow: hsl(25, 99%, 27%);

  --T2-key-background-: hsl(45, 7%, 89%);
  --T2-key-shadow: hsl(35, 11%, 61%);

  /* #### Text */

  --T2-Very-dark-grayish-yellow: hsl(60, 10%, 19%);
  ---T2-White-text: hsl(0, 0, 100%);
  /* Theme Three */

  /* #### Backgrounds */

  --T3-main-background: hsl(268, 75%, 9%);
  --T3-toggle-keypad-screen-background: hsl(268, 71%, 12%);

  /* #### Keys */
  --T3-key-background: hsl(281, 89%, 26%);
  --T3-key-shadow: hsl(285, 91%, 52%);

  --T3-key-background-toggle: hsl(176, 100%, 44%);
  --T3-equalkey-shadow: hsl(177, 92%, 70%);

  --T3-key-background: hsl(268, 47%, 21%);
  --T3-Dark-magenta-key-shadow: hsl(290, 70%, 36%);

  /* #### Text */

  --T3-Light-yellow: hsl(52, 100%, 62%);
  --T3-Very-dark-blue: hsl(198, 20%, 13%);
  --T3-White-text: hsl(0, 0, 100%);
}

/* GENERAL STYLING  */
/* Main Background */
.main {
  background-color: var(--T1-main-background);
  min-height: 100vh;
  max-height: none;
  display: grid;
  place-items: center;
  width: 100vw;
  overflow: hidden;
}
.calc-container {
  width: 40%;
  margin-bottom: 1rem;
  margin-inline: auto;
}
.header {
  display: flex;
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 2rem 0;
  font-weight: 700;
}
.logo {
  font-size: 1.2rem;
  font-weight: 700;
}
.themes {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.themes .title {
  font-size: 0.6rem;
}
.theme-swichers {
  gap: 0.4rem;
  display: flex;
  flex-direction: column;
}
.numbers {
  display: flex;
  gap: 0.4rem;
}
.indicator {
  background-color: var(--T1-screen-background);
  border-radius: 100vmax;
  padding: 0.3rem;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roller {
  height: 0.85rem;
  width: 0.85rem;
  border-radius: 50%;
  background-color: var(--T1-screen-background);
  cursor: pointer;
  outline: none;
  border: none;
}

/* styling for handling the background 
by a click of the numbers 1,2,3 the visiblity of the buttons will change 
by adding a class to then button


*/
.roller:focus {
  background-color: var(--T1-Red-key-background-toggle);
}

/*  */

.interactive-section {
  margin-top: 2rem;
}
.screen {
  background-color: var(--T1-screen-background);
  display: inline-block;
  margin-bottom: 1rem;
  min-height: 5rem;
  max-height: none;
  text-align: end;
  border-radius: 0.4rem;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  word-break: break-all;
}

.screen:focus {
  border: 2px solid aqua;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
  background-color: var(--T1-screen-background);
  padding: 1.5rem 1rem;
  border-radius: 0.4rem;
  width: 100%;
}
.keyboard button {
  text-align: center;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  min-height: 2rem;
  max-height: auto;
  cursor: pointer;
  background-color: white;
  font-weight: 700;
  font-size: 18px;
  box-shadow: 0rem 0.2rem 0.1rem var(--T1-key-shadow);
  background-color: var(--T1-key-background);
  color: var(--T1-Very-dark-grayish-blue);
}
.keyboard button:hover,
.keyboard button:focus {
  outline: 2px solid aqua;
}
.span-2 {
  grid-column: span 2;
}
button.special-key {
  color: white;
  background-color: var(--T1-Very-dark-grayish-blue);
  box-shadow: 0rem 0.2rem 0.1rem var(--T1-);
}

/* THEME STYLING */

.main.second__background {
  background-color: red;
}

@media screen and (max-width: 480px) {
  .calc-container {
    width: 90%;
    margin-bottom: 1rem;
  }
  .header {
    padding: 1rem;
    font-size: 24px;
    min-height: 4rem;
  }
}
/* Tablet Screens */
@media screen and (min-width: 768px) and (max-width: 900px) {
  .calc-container {
    width: 90%;
    margin-bottom: 1rem;
  }
  .keyboard {
    gap: 1rem;
  }
  .keyboard button {
    min-height: 2rem;
  }
}
@media (prefers-color-scheme: dark) {
  .main {
    background-color: var(--T1-main-background);
    min-height: 100vh;
    max-height: none;
    display: grid;
    place-items: center;
    width: 100vw;
    overflow: hidden;
  }
  .calc-container {
    width: 40%;
    margin-bottom: 1rem;
    margin-inline: auto;
  }
  .header {
    display: flex;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2rem 0;
    font-weight: 700;
  }
  .logo {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .themes {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .themes .title {
    font-size: 0.6rem;
  }
  .theme-swichers {
    gap: 0.4rem;
    display: flex;
    flex-direction: column;
  }
  .numbers {
    display: flex;
    gap: 0.4rem;
  }
  .indicator {
    background-color: var(--T1-screen-background);
    border-radius: 100vmax;
    padding: 0.3rem;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .roller {
    height: 0.85rem;
    width: 0.85rem;
    border-radius: 50%;
    background-color: var(--T1-screen-background);
    cursor: pointer;
    outline: none;
    border: none;
  }

  /* styling for handling the background 
  by a click of the numbers 1,2,3 the visiblity of the buttons will change 
  by adding a class to then button
  
  
  */
  .roller:focus {
    background-color: var(--T1-Red-key-background-toggle);
  }

  /*  */

  .interactive-section {
    margin-top: 2rem;
  }
  .screen {
    background-color: var(--T1-screen-background);
    display: inline-block;
    margin-bottom: 1rem;
    min-height: 5rem;
    max-height: none;
    text-align: end;
    border-radius: 0.4rem;
    padding: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    word-break: break-all;
  }

  .screen:focus {
    border: 2px solid aqua;
  }

  .keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
    background-color: var(--T1-screen-background);
    padding: 1.5rem 1rem;
    border-radius: 0.4rem;
    width: 100%;
  }
  .keyboard button {
    text-align: center;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    min-height: 2rem;
    max-height: auto;
    cursor: pointer;
    background-color: white;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0rem 0.2rem 0.1rem var(--T1-key-shadow);
    background-color: var(--T1-key-background);
    color: var(--T1-Very-dark-grayish-blue);
  }
  .keyboard button:hover,
  .keyboard button:focus {
    outline: 2px solid aqua;
  }
  .span-2 {
    grid-column: span 2;
  }
  button.special-key {
    color: white;
    background-color: var(--T1-Very-dark-grayish-blue);
    box-shadow: 0rem 0.2rem 0.1rem var(--T1-);
  }

  /* THEME STYLING */

  .main.second__background {
    background-color: red;
  }
}
